body {
    background-color: #f0f0f0;
    color: #202020;
    font-family: "Arial", "Helvetica", sans-serif;
}
h1 {
    font-size: 130%;
    color: #404000;
    background-color: #f0f0f0;
    border-bottom: #b0b090 1px solid;
    border-left: #ffffff 1px solid;
    border-right: #b0b090 1px solid;
    border-top: #ffffff 1px solid;
    line-height:150%;
    padding-left: 2ex;
}
h2 {
    font-size: 100%;
    background-color: #f0f0f0;
    border-bottom: #b0b090 1px solid;
    border-left: #ffffff 1px solid;
    border-right: #b0b090 1px solid;
    border-top: #ffffff 1px solid;
    padding-left: 3ex;
    color: #404000;
}
div.home {
    margin-top: 2ex;
    margin-left: 4ex;
    margin-bottom: 2ex;
    line-height: 1.5;
}
hr {
    height: 1ex;
    color: #f0f0f0;
    border-bottom: #b0b090 1px solid;
    border-left: #ffffff 1px solid;
    border-right: #b0b090 1px solid;
    border-top: #ffffff 1px solid;
}

a:link {
    text-decoration: underline;
    color: #505050;
}
a:visited {
    text-decoration: underline;
    color: #505050;
}
a:active {
    text-decoration: underline;
    color: #505050;
}
a:hover {
    text-decoration: none;
    color: #ff9070;
}
